<p id="notice"><%= notice %></p>

<p>
  <strong>Apellido:</strong>
  <%= @paciente.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Tipo doc:</strong>
  <%= @paciente.tipo_doc %>
</p>

<p>
  <strong>Num doc:</strong>
  <%= @paciente.num_doc %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @paciente.fecha_nac %>
</p>

<p>
  <strong>Obra soc:</strong>
  <%= @paciente.obra_soc %>
</p>

<p>
  <strong>Numero afil:</strong>
  <%= @paciente.numero_afil %>
</p>

<p>
  <strong>Grupo sang:</strong>
  <%= @paciente.grupo_sang %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @paciente.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @paciente.ciudad %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paciente.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @paciente.comentarios %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
