<%= simple_form_for(@tarje) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :color %>
    <%= f.input :banco %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
