<p id="notice"><%= notice %></p>




<div class="row">
    <div class="large-6 columns">
   <h2>Pacientes </h2>
    </div>
    <div class="large-4 columns">
    </div>
    <div class="large-4 columns">
    </div>
    <div class="large-2 columns">
        <%= link_to '+ Medio Pago', new_tarje_path,  :class => "button expand" %> <br>
    </div>
  </div>





<table>
  <thead>
    <tr>
      <th>Apellido y Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datos_paciente.each do |paciente| %>
      <tr>
        <td><%= paciente.ape_nom %></td>
        <td><%= paciente.direccion %></td>
        <td><%= paciente.telefono %></td>
        <td><%= link_to 'Show', datos_paciente %></td>
        <td><%= link_to 'Edit', edit_datos_paciente_path(tarje) %></td>
        <td><%= link_to 'Destroy', datos_paciente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


