<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @datos_paciente.ape_nom %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @datos_paciente.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @datos_paciente.telefono %>
</p>

<%= link_to 'Edit', edit_datos_paciente_path(@tarje) %> |
<%= link_to 'Back', datos_paciente_path %>
