<p id="notice"><%= notice %></p>

<h1>Listing Sugerencia</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Titulo</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sugerencia.each do |sugerencium| %>
      <tr>
        <td><%= sugerencium.fecha %></td>
        <td><%= sugerencium.titulo %></td>
        <td><%= sugerencium.detalle %></td>
        <td><%= link_to 'Show', sugerencium %></td>
        <td><%= link_to 'Edit', edit_sugerencium_path(sugerencium) %></td>
        <td><%= link_to 'Destroy', sugerencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sugerencium', new_sugerencium_path %>
